---
layout: default
title: About me
styles:
  - about
---

{%assign image_path = site.baseurl | append: "/assets/images/about"%}

<div class="about-container">
  <div class="about-content">
    <h1>Erik Sillén</h1>
    <h2 style="text-align: center;">Programmer, Engineer, Creative, Advanced-Algorithms-Adept and Game Designer</h2>

    <div class="small-horizontal-space"></div>

    <p>
      <img src="{{image_path}}/erik.jpg" alt="image of me" height="300px" width="300px">
    </p>
    <div class="small-horizontal-space"></div>

    <h2>About Me</h2>
    <div class="about-box">
      <h3>I am a creative programmer, driven by challenges and working with development. I love tackling new problems and quickly assimilate in new social situations.
        I am curious about everything technical and like to make technical projects and develop games.

        Aside from my technical interests, I like to play badminton, play theatre, sing choir songs, do sailing and be with my girlfriend.

        My ideal workplace is somewhere where my technical skills and my creativity come to their full potential, where I get to work with a group of dedicated people in the bleeding edge of technology.
      </h3>
    </div>

    <div class="small-horizontal-space"></div>

    <!--
    <p>
      <a id="single_image" href="{{image_path}}/glass.jpg">
        <img src="{{image_path}}/glass_thumb.jpg" alt="image of me" height="200px" width="200px">
      </a>
      <a id="single_image" href="{{image_path}}/piglet.jpg">
        <img src="{{image_path}}/piglet_thumb.jpg" alt="image of me" height="200px" width="200px">
      </a>
      <a id="single_image" href="{{image_path}}/acting1.jpg">
        <img src="{{image_path}}/acting1_thumb.jpg" alt="image of me" height="200px" width="200px">
      </a>
    </p>
    <p>
      <a id="single_image" href="{{image_path}}/acting2.jpg">
        <img src="{{image_path}}/acting2_thumb.jpg" alt="image of me" height="200px" width="200px">
      </a>
      <a id="single_image" href="{{image_path}}/svets.jpg">
        <img src="{{image_path}}/svets_thumb.jpg" alt="image of me" height="200px" width="200px">
      </a>
      <a id="single_image" href="{{image_path}}/lab.jpg">
        <img src="{{image_path}}/lab_thumb.jpg" alt="image of me" height="200px" width="200px">
      </a>
    </p>
  -->

    <div class="small-horizontal-space"></div>

    <h2>Education</h2>
    <div class="about-box">
      {% for item in site.data.education %}
        <h3>{{item.title}}, {{item.year}}
      {% endfor %}
    </div>

    <div class="small-horizontal-space"></div>

    <h2>Skills</h2>
    <table class="about-skills-table">
      <tr>
        {% for category in site.data.skills.categories %}
        <th>{{category.title}}</th>
        {% endfor %}
      </tr>
      <tr>
      {% for category in site.data.skills.categories%}
        <td>
          <ul>
            {% for item in category.items %}
            <li>{{item}}</li>
            {% endfor %}
          </ul>
        </td>
      {% endfor %}
      </tr>
    </table>

    <div class="small-horizontal-space"></div>

    <h2>Techincal Work Experience</h2>
    {% for item in site.data.experiences %}
    <div class="about-table-holder">
      <table class="about-experience-table">
        <tr>
          <th colspan="2">
            <h3>
              {{item.title | append: ', ' | append:item.year}}
            </h3>
          </th>
        </tr>
        {% for role in item.roles %}
        <tr>
          <td class="about-experience-role-title">
            {{role.title}}
          </td>
          <td>
            <p style="-webkit-margin-after:0.1em;">
            {{role.description}}
            </p>
            <p>
              <b>skills:</b> {{role.skills | join: ', '}}
            </p>
          </td>
        </tr>
        {%endfor%}
      </table>
    </div>
    {% endfor %}

    <div class="small-horizontal-space"></div>

    <h2>Other Relevant Experience</h2>
    <div class="about-other-experience">
      <h3>I'm ranked at <a href="https://open.kattis.com/users/esillen" class="about-green-link">open.kattis.se</a> (programming competition ranklist)</h3>
      <h3>Won <a id="single_image" href="{{image_path}}/excitera.jpg" class="about-green-link">second prize in excitera innovation challenge</a> together with three frends.</h3>
      <h3>Organized and made problems for a programming challenge 2011 together with a classmate.</h3>
    </div>

    <div class="small-horizontal-space"></div>

    <!--<div class="about-box"> -->
      <h2>Interested? Want to know more? Have a look at my <a href="{{site.baseurl}}/projects" class="about-yellow-link">Projects</a> and <a href="{{site.baseurl}}/games" class="about-yellow-link">Games</a> or download my <a href="{{site.baseurl}}/assets/files/CV.pdf" class="about-yellow-link">CV</a>.</h2>
      <h2>For work-related questions, contact me at erik.sillen.1990@gmail.com</h2>
    <!--</div>-->

  </div>
</div>
