---
layout: default
title: projects
styles:
  - list
  - projects
---
<section class="projects-title">
  <div class="title-text">
    <h1>Projects</h1>
</div>
</section>


<section class="projects-list">
  <ul>
    {% assign sorted_projects = site.projects | sort: 'year' | reverse %}
    {% for project in sorted_projects %}
      {% assign image_src = '/assets/images' | append: project.id | append: '/thumbnail.png' %}
      {% assign image_alt = 'image of ' | append: project.title %}
      <a href="{{ project.url }}" style="width: 100%;">
      {% include list-item.html image_src=image_src image_alt=image_alt title=project.title year=project.year description=project.description highlight=project.highlight%}
      </a>
    {% endfor %}
  </ul>
</section>
