.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {

}

.small-horizontal-space {
  width: 100%;
  margin-bottom: 30px;
}


.header {

}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {

}

.title-text {
  display: inline-block;
  padding: 20px;
  background-color: rgba(0.2,0.2,0.2,0.2);
}
