---
---
ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 90%;
  width: 1000px;

  li {
    display: flex;
    height: 180px;
    width: 100%;
    margin-top: 50px;
    border: solid 5px black;
    background-image: url('{{site.baseurl}}/assets/images/backgrounds/blue_noise.png');
    color: white;

    &.highlight {
      height: 180px;
    }

    a, a:focus, a:hover, a:active {
      text-decoration: none;
      color:white;
    }

    a:hover {
      color: silver;
    }

  }

}


img.list-item-image {
  width: 180px;
  height: 170px;
  object-fit: contain;
  background-color: black;
}

div.list-item-image-mishmash {
  width: 180px;
  height: 170px;
  background-image:
    url('{{site.baseurl}}/assets/images/games/psychedelic-run/thumbnail.png'),
    url('{{site.baseurl}}/assets/images/games/super-duper-squad/thumbnail.png'),
    url('{{site.baseurl}}/assets/images/games/line-arcade/thumbnail.png'),
    url('{{site.baseurl}}/assets/images/games/bird-is-the-word/thumbnail.png');
  background-size: 50% 50%;
  background-position: left top, right top, left bottom, right bottom;
  background-repeat: no-repeat;
}

img.list-item-image-highlight {
  width: 180px;
  height: 170px;
  object-fit: contain;
  background-color: black;
}

div.list-item-image-mishmash-highlight {
  width: 180px;
  height: 170px;
  background-image:
    url('{{site.baseurl}}/assets/images/games/psychedelic-run/thumbnail.png'),
    url('{{site.baseurl}}/assets/images/games/super-duper-squad/thumbnail.png'),
    url('{{site.baseurl}}/assets/images/games/line-arcade/thumbnail.png'),
    url('{{site.baseurl}}/assets/images/games/bird-is-the-word/thumbnail.png');
  background-size: 50% 50%;
  background-position: left top, right top, left bottom, right bottom;
  background-repeat: no-repeat;
}


.list-item {
  margin: 0px;
  display: flex;
  flex-direction: row;

}

.list-item-text-container {
  padding: 10px;
  display: flex;
  flex-direction: column;

  &.highlight {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

}



.list-item-highlight {
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;

}
